<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" style="margin-top: 200px;">
    <section id="content">
        <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 20px; margin-left: 120px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd"
                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
            <h2 style="margin: 0;">Login</h2>
        </div>

        <!-- Formulario único -->
        <form id="loginForm" action="/login" method="post">
            <div>
                <input type="text" placeholder="Username" id="username" name="username" required />
            </div>
            <div>
                <input type="password" placeholder="Password" id="password" name="password" required />
            </div>
            <div>
                <input id="btnLogin" type="submit" value="Log in"/>
            </div>
            <a href="#">¿Perdiste tu contraseña?</a>
            <a href="#">Registro</a>
        </form>

        <div class="button">
            <a href="#">Download source file</a>
        </div>
    </section>
</div>

<script src="{{ url_for('static', filename='assets/js/login.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
